<div class="container mt-5 d-flex flex-column" style="width: 25rem">
    <div
        *ngIf="error !== null"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
    >
        {{ error }}
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
        ></button>
    </div>
    <div class="card py-4 px-5">
        <div class="card-body">
            <div *ngIf="loading === true" class="d-flex justify-content-center">
                <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <h2 class="my-3 text-center">Login</h2>
            <form (ngSubmit)="login()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                        >Username</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="exampleInputUsername"
                        name="username"
                        aria-describedby="usernameHelp"
                        [(ngModel)]="username"
                    />
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                        >Password</label
                    >
                    <input
                        type="password"
                        class="form-control"
                        id="exampleInputPassword1"
                        name="password"
                        [(ngModel)]="password"
                    />
                </div>
                <div class="d-flex mt-4 justify-content-center">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        style="width: 150px"
                    >
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
