<div class="container d-flex flex-column align-items-center mt-5">
    <h2 class="my-3 text-center">This Month's Report</h2>
    <div
        *ngIf="error !== null"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
    >
        {{ error }}
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
        ></button>
    </div>
    <div *ngIf="loading === true" class="d-flex justify-content-center">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="report !== undefined" class="card mt-3" style="width: 28rem">
        <div class="card-body">
            <h5>Year: {{ report.year }}</h5>
            <h5>Month: {{ report.month }}</h5>
            <h5>Number of Sales: {{ report.numSales }}</h5>
            <h4>Total Sale: ${{ report.totalSale.toFixed(2) }}</h4>
        </div>
    </div>
</div>
