<div class="row">
    <div class="col">
        <input
            style="min-width: 200px"
            type="text"
            class="form-control"
            name="editingUsername"
            aria-describedby="usernameHelp"
            [(ngModel)]="username"
        />
    </div>
    <div class="col">
        <div class="row">
            <div class="col-auto">
                <button
                    (click)="updateUser.emit({username, userId, index})"
                    class="btn btn-success"
                >
                    Save
                </button>
            </div>
            <div class="col">
                <button (click)="turnOffIsEditing.emit()" class="btn btn-info">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
