<div class="container d-flex flex-column mt-5">
    <h2 class="my-3 text-center">Today's Bills</h2>
    <div
        *ngIf="error !== null"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
    >
        {{ error }}
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
        ></button>
    </div>
    <div *ngIf="loading === true" class="d-flex justify-content-center">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row mt-4" *ngFor="let bill of bills">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h5 class="col">Bill Id: {{ bill.id }}</h5>
                    <h5 class="col">Amount: ${{ bill.billAmount }}</h5>
                    <h5 class="col">Number Of Items: {{ bill.numItems }}</h5>
                </div>
                <div class="row mt-3">
                    <div class="row" *ngFor="let order of bill.orders">
                        <h4 class="col">
                            {{ order.product.productName }} -
                            {{ order.productCount }} Nos
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
