<div
    class="
        container
        d-flex
        flex-column
        align-items-center
        justify-content-center
        mt-5
    "
>
    <div
        *ngIf="error !== null"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
    >
        {{ error }}
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
        ></button>
    </div>

    <div *ngIf="loading === true" class="d-flex justify-content-center">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <h2 class="my-3 text-center">Add New User</h2>
    <div class="row d-flex justify-content-center mt-4">
        <div class="card py-4 px-5 col-auto">
            <div class="card-body">
                <form (ngSubmit)="createNewUser()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"
                            >Username</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="exampleInputUsername"
                            name="username"
                            aria-describedby="usernameHelp"
                            [(ngModel)]="username"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"
                            >Password</label
                        >
                        <input
                            type="password"
                            class="form-control"
                            id="exampleInputPassword1"
                            name="password"
                            [(ngModel)]="password"
                        />
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Create User
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <h2 class="my-3 mt-5 text-center">Users List</h2>
        <div
            *ngIf="successMessage !== null"
            class="alert alert-success alert-dismissible fade show"
            role="alert"
        >
            {{ successMessage }}
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
            ></button>
        </div>
        <div
            class="row d-flex justify-content-center mt-4"
            *ngFor="let user of users; let i = index"
        >
            <div class="card px-5 py-3" style="min-width: 500px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <h4>{{ user.username }}</h4>
                        </div>
                        <div class="col-6">
                            <app-edit
                                *ngIf="isEditing[i] === true"
                                [userId]="user.id"
                                [index]="i"
                                [username]="user.username"
                                (turnOffIsEditing)="turnOffEditing(i)"
                                (updateUser)="
                                    updateUser((updateUserData = $event))
                                "
                            ></app-edit>
                            <button
                                *ngIf="
                                    isEditing[i] === false ||
                                    isEditing[i] === undefined
                                "
                                (click)="setIsEditing(i)"
                                class="btn btn-warning"
                                style="width: 100px"
                            >
                                Edit
                            </button>
                        </div>
                        <div class="col-3">
                            <button
                                class="btn btn-danger"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Tooltip on top"
                                (click)="deleteUser(user.id)"
                                style="width: 100px"
                                [disabled]="user.id === curUser.id"
                            >
                                {{
                                    user.id === curUser.id
                                        ? "Current User"
                                        : "Delete"
                                }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
